<header role="banner" id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-3">
                    <div class="fh5co-navbar-brand">
                        <a class="fh5co-logo" href="index.html">Narrow</a>
                    </div>
                </div>
                <div class="col-md-9 main-nav">
                    <ul class="nav text-right">
                        <li><a href="/"><span>Home</span></a></li>
                        <li><a href="services">Services</a></li>
                        <li><a href="product">Products</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  </div>
</header>
<script>
  document.querySelectorAll('#fh5co-header .main-nav li').forEach(el => {
    if (el.querySelector('a').href === location.href) {
        el.classList.add('active');
    }
  });
</script>
